.country {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    padding: 1rem;
    height: 15rem;
}

.go-btn {
    font-size: 2rem;
    background: inherit;
    border: none;
    align-self: end;
}