.country {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: #d14078;
  border: 0.5px solid hsl(336.75deg 53.96% 64.56%);
}

.country:nth-child(2),
.country:nth-child(3),
.country:nth-child(6),
.country:nth-child(7),
.country:nth-child(10),
.country:nth-child(11),
.country:nth-child(14) {
  background-color: #ec4c8a;
}

.go-btn {
  font-size: 2rem;
  background: inherit;
  border: none;
  align-self: end;
}

.img {
  width: 100%;
  align-self: center;
}

.info {
  align-self: end;
  color: #fff;
  font-weight: 600;
}
